resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - secret.yaml
images:
  - name: ghcr.io/blakeridgway/personal-devsite
    newTag: 20251009123145-2eaec5b